@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: url(../../public/image/banner.jpg);
}
a:hover {
  color: #9c3a17;
  text-decoration: dashed;
}

.post-detail {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.post-detail img {
  display: flex;
  margin: 0 auto;
}
.ant-input {
  height: 44px;
  border: 1px solid #b4755e;
}
:where(.css-dev-only-do-not-override-12r0slu).ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 1px;
  vertical-align: top;
}
.ant-input-password {
  border: 1px solid #b4755e;
}
.ant-select-in-form-item {
  border: 1px solid #b4755e;
  border-radius: 4px;
}
.ant-input-textarea-affix-wrapper {
  border: 1px solid #b4755e;
}
.ant-table-cell .antd-input {
  height: 20px !important;
}
.ant-input:hover,
.ant-input-textarea-affix-wrapper:hover {
  border: 1px solid #9c3a17;
}

:where(.css-dev-only-do-not-override-12r0slu).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  width: 100%;
  height: 44px;
  padding: 0 11px;
}
.ant-select-selection-placeholder {
  padding: 5px 0px !important;
}
.ant-upload-list {
  display: none;
}

.ant-btn-primary {
  background-color: #9c3a17;
}
.ant-tabs-tab-btn {
  font-size: 20px;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-1eeekto).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1eeekto).ant-tabs-top
  > div
  > .ant-tabs-nav::before {
  bottom: 0;
  display: none;
}
.item-banner .ant-tabs-tab-btn {
  color: #9c3a17;
  font-size: 18px;
  font-weight: 500;
}
.header
  :where(.css-dev-only-do-not-override-12r0slu).ant-tabs
  .ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: white;
  text-shadow: 0 0 0.25px currentcolor;
}
.header
  :where(.css-dev-only-do-not-override-12r0slu).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-12r0slu).ant-tabs-top
  > div
  > .ant-tabs-nav::before {
  display: none;
  bottom: 0;
}

:where(.css-dev-only-do-not-override-12r0slu).ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 12px 0;
}
/* .overflow-y-scroll {
  overflow-y: hidden;
} */
.ant-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
:where(.css-dev-only-do-not-override-12r0slu).ant-menu-vertical
  > .ant-menu-item {
  height: 52px;
}
:where(.css-dev-only-do-not-override-12r0slu).ant-btn {
  font-size: 14px;
  height: 42px;
  padding: 4px 15px;
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-12r0slu).ant-input-affix-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  min-width: 0;
  padding: 0px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 4px;
  transition: all 0.2s;
}
.swiper {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ant-collapse-header-text {
  font-size: 18px;
  font-weight: 500;
}
.ant-collapse-content-box {
  font-size: 16px;
  font-weight: 400;
}
.ant-input-group-addon {
  border: 1px solid #b4755e;
  border-left: transparent;
}

.post-details .swiper-slide {
  width: 30% !important;
}

.ant-form-item-control-input {
  margin: 10px 0;
}
