.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.faq .ant-collapse-arrow {
  color: #a62b00;
}
.ant-collapse {
  border: none;
}
.ant-tabs-tab-btn {
  color: white;
}
.ant-breadcrumb-link a {
  color: black;
}
.ant-breadcrumb-link a:hover {
  color: #a62b00;
  background: transparent;
}
